{
  "openapi": "3.1.0",
  "info": {
    "title": "NJ Chamber Finder API",
    "description": "API to find New Jersey Chamber of Commerce organizations by location and access their contact information, social media, and membership details.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://3000-ix9g52qevw5cq19w0gkkb-cd1cb9d4.us2.manus.computer"
    }
  ],
  "paths": {
    "/api/gpt/chambers": {
      "get": {
        "operationId": "findChamber",
        "summary": "Find Chamber of Commerce by location or list all",
        "description": "Finds a Chamber of Commerce based on city/state or coordinates. Returns Chamber details including contact info, website, signup URL, and social media links. If no parameters provided, returns all Chambers.",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Newark"
            },
            "description": "City name to search for a Chamber"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NJ"
            },
            "description": "State code (e.g., NJ, NY, CA)"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 40.7357
            },
            "description": "Latitude coordinate for proximity search"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": -74.1724
            },
            "description": "Longitude coordinate for proximity search"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single Chamber result (when city/state or coordinates provided)",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "chamber": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "website": {
                              "type": "string"
                            },
                            "signupUrl": {
                              "type": "string"
                            },
                            "linkedinUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "facebookUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "twitterUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "instagramUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "tiktokUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "distance": {
                              "type": "number",
                              "description": "Distance in miles from search location"
                            }
                          }
                        },
                        "searchMethod": {
                          "type": "string",
                          "enum": ["city_state", "coordinates"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "All Chambers list (when no parameters provided)",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "chambers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "website": {
                                "type": "string",
                                "nullable": true
                              },
                              "signupUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "socialMedia": {
                                "type": "object",
                                "properties": {
                                  "linkedin": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "facebook": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "twitter": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "instagram": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "tiktok": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "searchMethod": {
                          "type": "string",
                          "enum": ["all"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
